* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    --cabecalho: rgb(75, 196, 75);
    --letras: rgba(8, 8, 8, 0.979);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Inicio Index.html */
.nav-img {
    margin-right: 2cm;
}

.nav {
    background-color: var(--cabecalho);
    position: static;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 999;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 25px;
}

.nav-list a {
    text-decoration: none;
    color: var(letras);
    padding: 20px;
    font-size: 18px;
}

.nav-list a:hover {
    color: rgb(255, 255, 255)
}

.main img{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: var(--cabecalho);
    display: flex;
    align-items: center;
 
}

/* Fim Index.html */

/* Inicio CestaBasica.html */
.container {
    margin-top: 1cm;
    margin-bottom: 1cm;
    display: flex;
    flex-direction: row;
    padding-right: 20px;

}

.img-cestas {
    width: 100%;
}

.lista-img {
    width: 100%;
}

.modal-footer {
    display: flex;
}

.modal-content a {  
    margin-top: 2px;
    font-size: 20px;
}

.modal {
    justify-content: center;
}

.btn-info {
    background-color: var(--cabecalho);
    display: flex;
    padding-right: -20px;
    height: 8cm;
    width: 6cm;
    margin-right: 2cm;
    transition: .5s;
}

.btn-info:hover {
    transform: scale(1.5);
}

.img-orcamento{
    margin-left: 2cm;
    width: 15%;
}

.button {
    display: inline-block;
}

/* Fim CestaBasica.html */

/* Inicio contato.html */
.column {
    flex-grow: 1;
    width: 31%;
    margin-top: 1cm;
    margin-left: 2cm;
}

.login-panel {
    background-color: var(--cabecalho);
    border: 1px solid #e6e6e6;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}

.login-panel h1 {
    padding-bottom: 20px;
}

.contato textarea {
  
    font-size: 15px;

}

.btnEnviar {
    /* Largura do botão */
    width: 150px;
    /* Margem referente a parte de cima */
    margin-top: 0px;
    /* Altura do botão */
    height: 35px;
    /* Retirar borda */
    border: 0;
    /* Cor do Fundo */
    background-color: #f5f5f5;
    /* Arredondamento do botão */
    border-radius: 9px;
    /* Cor da letra */
    color: rgb(8, 8, 8);
    /*Tamanho da Letra*/
    font-size: 16px;
    /* Negrito  */
    font-weight: bold;
    /* Altura da parte de baixo */
    margin-bottom: 10px;
    /* Ficar com a mão como fosse para clicar */
    cursor: pointer;

}

.Limpar {
    /* Largura do botão */
    width: 150px;
    /* Margem referente a parte de cima */
    margin-top: 0px;
    /* Altura do botão */
    height: 35px;
    /* Retirar borda */
    border: 0;
    /* Cor do Fundo */
    background-color: #f5f5f5;
    /* Arredondamento do botão */
    border-radius: 9px;
    /* Cor da letra */
    color: rgb(8, 8, 8);
    /*Tamanho da Letra*/
    font-size: 16px;
    /* Negrito  */
    font-weight: bold;
    /* Altura da parte de baixo */
    margin-bottom: 10px;
    /* Ficar com a mão como fosse para clicar */
    cursor: pointer;

}

.login-panel {
    display: center;
}

.right {
    padding-right: 10px;
}

.btnBotao {
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 30px;
    background-color: #FFF;
    color: var(--letras);
    transition: 0.8s;
    font-weight: bold;
    margin-left: center;
    margin-top: center;
    font-style: italic;
}

.btnBotao img {
    vertical-align: middle;

}

.btnBotao:hover {
    transform: scale(1.9);
}

.contato img {
    display: flex;
    margin-top: -12cm;
    margin-left: 15cm;
}
footer {
    width: 100%;
    background-color: var(--cabecalho);
    margin-top: 3cm;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    color: var(--letras);
}

footer h3 {
    text-align: center;
    text-decoration: none;
    color: var(--letras);
}

footer p {
    margin-left: 25px;
    color: #ececec;
}

.contato {
    color: rgb(12, 12, 12)
}
/* Fim contato.html */


@media (max-width: 1050px) {
    .nav {
        flex-direction: row;
        padding: 0;
        align-items: flex-start;
        height: 100%;
        max-width: 100%;
    }

    .contato img {
        width: 80%;
        margin-top: 1cm;
        margin-left: 1cm;
    }

    .login-panel {
        background-color: var(--cabecalho);
        border: 1px solid #e6e6e6;
        text-align: center;
        padding: 30px 0;
        margin-top: 20px;
    }

    .column {
        flex-grow: 1;
        width: 60%;
        margin-top: 1cm;
        margin-left: 5cm;
    }

    .nav-list {
        text-align: center;
        flex-direction: row;
        margin-left: 1cm;
        height: 15%;
        width: 100%;
        line-height: 1cm;
    }

    .nav-list a {
        margin-left: 5px;
        margin-top: 5px;
        max-width: 50px;
    }

    .main {
        background-size: auto 50%;
    }

    .main button, a {
        margin-bottom: 1cm;
        margin-left: 1cm;
    }

    .titulo img {
        max-width: 500px;
        border: 10px;
    }

    .btn-info {
        background-color: var(--cabecalho);
        display: flex;
        padding-right: -20px;
        height: 8cm;
        width: 6cm;
        margin-right: 8px;
        transition: .5s;
    }
    
    .btn-info:hover {
        transform: scale(1.5);
    }
}

@media (max-width: 412px) {

    .nav {
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
        height: 100%;
        max-width: 100%;
    }
    .nav-list {
        text-align: center;
        flex-direction: column;
        margin-left: 0;
        height: 1%;
        width: 100%;
        line-height: 1cm;
    }

    .nav-list a {
        margin-left: 5px;
        margin-top: 5px;
        max-width: 50px;
    }

    .contato img {
        width: 80%;
        margin-top: 1cm;
        margin-left: 1cm;
    }

    .login-panel {
        background-color: var(--cabecalho);
        border: 1px solid #e6e6e6;
        text-align: center;
        padding: 30px 0;
        margin-top: 20px;
    }

    .column {
        flex-grow: 1;
        width: 90%;
        margin-top: 1cm;
        margin-left: 1cm;
    }

    .main {
        background-size: auto 50%;
    }

    .main button, a {
        margin-bottom: 1cm;
        margin-left: 1cm;
    }

    .titulo img {
        max-width: 500px;
        border: 10px;
    }

    .btn-info {
        background-color: var(--cabecalho);
        display: flex;
        padding-right: -20px;
        height: 3cm;
        width: 2.5cm;
        margin-right: 8px;
        transition: .5s;
    }
    
    .btn-info:hover {
        transform: scale(1.1);
    }
}